@use "/src/scss/index" as *;

.offer {
  flex-grow: 1;

  &__container {
    padding: 2em;
    background: #f0f1f2;

    @include max-width($bp-mobile) {
      font-size: 0.9rem;
      padding: 1em;
    }

    li {
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 3em;
      }
    }

    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    h4 {
      margin-bottom: 2em;
    }

    & + .carousel {
      padding-top: 5em;
    }
  }
}
