@use "/src/scss/index" as *;

.blog-post-list {
  $c: &;

  padding: 5em 2em;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 3em;

    @include max-width($bp-laptop) {
      grid-template-columns: repeat(2, 1fr);
    }

    &.blog-post-list__hide-more li:nth-child(n + 7) {
      display: none;
    }
  }

  li {
    border: 2px solid #e7edf2;
    cursor: pointer;

    img {
      transition: 0.5s;
      object-fit: cover;
    }

    &:hover img {
      opacity: 0.8;
    }
  }

  &__title {
    margin-bottom: 2em;
  }

  &__post-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.5em;
  }

  &__post-title {
    display: -webkit-box;
    font-weight: 500;
    margin-bottom: 0.5em;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    #{$c}__post-container--skeleton & {
      background-color: #e0e0e063;
      height: 2em;
    }
  }

  &__post-image {
    height: 300px;

    #{$c}__post-container--skeleton & {
      background-color: #e0e0e063;
    }
  }

  &__post-date {
    #{$c}__post-container--skeleton & {
      background-color: #e0e0e063;
      height: 15px;
      width: 50%;
    }
  }

  &__button {
    display: block;
    margin: 4em auto 0;

    &--hidden {
      display: none;
    }
  }
}
