@use "/src/scss/index" as *;

.content {
  $c: &;

  padding: 0 6em;

  @include max-width($bp-laptop) {
    padding: 0 2em;
  }

  &__image {
    margin: auto 2em auto 0;
    width: 40%;

    @include max-width($bp-tablet) {
      margin: 0;
      width: 100%;
    }

    #{$c}__block--reverse & {
      margin-right: 0;
      margin-left: 2em;

      @include max-width($bp-tablet) {
        margin: 0;
      }
    }

    #{$c}__block--skeleton & {
      background-color: #e0e0e063;
      height: 200px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0;
    width: 50%;
    margin-left: auto;

    @include max-width($bp-tablet) {
      padding: 2em 0 0;
      width: 100%;

      a {
        text-align: center;
      }
    }

    #{$c}__block--reverse & {
      margin-left: initial;
    }
  }

  &__block {
    display: flex;
    margin-top: 5em;

    @include max-width($bp-tablet) {
      flex-direction: column;
      margin-top: 4em;
    }

    &--reverse {
      flex-direction: row-reverse;
      justify-content: space-between;

      @include max-width($bp-tablet) {
        flex-direction: column;
      }
    }

    &:last-child {
      margin-bottom: 5em;

      @include max-width($bp-tablet) {
        margin-bottom: 4em;
      }
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    #{$c}__block--skeleton & {
      background-color: #e0e0e063;
      height: 20px;
      width: 100%;
      margin-bottom: 1em;
    }
  }

  &__title {
    font-weight: 500;

    #{$c}__block--skeleton & {
      background-color: #e0e0e063;
      height: 30px;
      width: 60%;
      margin-bottom: 1em;
    }
  }

  &__button {
    #{$c}__block--skeleton & {
      background-color: #e0e0e063;
      height: 40px;
      width: 150px;
      margin-top: 1em;
      border: none;
    }
  }

  a {
    width: fit-content;
  }
}
