@use "/src/scss/index" as *;

.product {
  $c: &;

  &__container {
    padding: 2em;

    .carousel {
      padding: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    padding: 5em;

    @include max-width($bp-laptop) {
      padding: 4em 0;
    }

    @include max-width($bp-tablet) {
      flex-direction: column;
      align-items: center;
      padding: 0 0 4em;
    }
  }

  &__image {
    margin-right: 1em;
    max-width: 40%;

    @include max-width($bp-tablet) {
      max-width: 100%;
      margin: 0 0 2em;
    }

    #{$c}__container--skeleton & {
      height: 300px;
      width: 100%;
      background-color: #e0e0e063;
    }
  }

  &__wrapper {
    margin-bottom: 2em;
    width: 100%;

    #{$c}__container--skeleton & {
      h1,
      h2,
      p {
        background-color: #e0e0e063;
        margin-bottom: 1em;
      }

      h1 {
        height: 2em;
        width: 70%;
      }

      h2 {
        height: 2em;
        width: 40%;
      }

      p {
        height: 1.5em;
        width: 90%;
      }
    }
  }

  &__content {
    width: 100%;

    #{$c}__container--skeleton & {
      button {
        background-color: #e0e0e063;
        height: 3em;
        width: 150px;
        display: block;
        border: none;
      }
    }
  }

  &__description {
    max-width: 85%;
    margin-bottom: 8em;

    @include max-width($bp-tablet) {
      max-width: 100%;
    }

    #{$c}__container--skeleton & {
      h2,
      p {
        background-color: #e0e0e063;
        margin-bottom: 1em;
      }

      h2 {
        height: 2em;
        width: 30%;
      }

      p {
        height: 6em;
        width: 100%;
      }
    }
  }
}
