@use "/src/scss/index" as *;

.blog {
  &__content {
    padding: 6em;
    text-align: center;
    @include max-width($bp-laptop) {
      padding: 2em;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1em;
  }

  &__sub-title {
    font-size: 1.3rem;
    width: 75%;
    margin: 0 auto 1em;
    font-weight: 400;
    @include max-width($bp-tablet) {
      width: 100%;
    }
  }

  &__image {
    margin: 0 auto;
    height: 240px;
    width: 240px;

    img {
      object-fit: contain;
    }
  }
}
