@use "/src/scss/index" as *;

.header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 1em 2em;

  &__logo {
    width: 120px;
    height: 120px;
    margin-left: -16px;

    img {
      object-fit: contain;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    @include max-width($bp-tablet) {
      display: none;
    }

    ul {
      display: flex;
      gap: 16px;
    }

    li {
      @extend .hover-underline;
    }
  }

  &__mobile-nav {
    position: relative;
    display: none;
    @include max-width($bp-tablet) {
      display: block;
    }

    svg {
      height: 48px;
      width: 48px;
      cursor: pointer;
      opacity: 1;
      transition: 0.5s all;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      &.hidden {
        opacity: 0;
        z-index: -1;
      }
    }
  }

  &__mobile-links {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    z-index: 2;
    height: 100vh;
    padding: 3em;
    transition: 0.5s;

    &.hidden {
      transform: translateX(-100%);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    a {
      transition: 0.3s;

      &:hover {
        color: #5a4ff3;
      }
    }

    svg {
      position: absolute;
      right: calc(-3em + 12px);
      top: calc(-3em + 25px);
      height: 25px;
      width: 25px;

      &:hover {
        fill: #5a4ff3;
      }
    }
  }

  &__mobile-wrapper {
    position: relative;
  }
}
