@use "/src/scss/index" as *;
@use "/src/views/Cart/Summary/Summary.scss";

.order {
  @extend .gray-block;

  h1 {
    text-align: center;
    margin-bottom: 1.5em;
  }

  &__error {
    @extend .gray-block__container;

    flex-grow: 1;
  }

  &__content {
    @extend .summary;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;

    .loader-spinner {
      align-self: center;
      margin-bottom: 2em;
    }
  }

  &__product-img {
    @extend .summary__product-img;
  }

  &__info,
  &__products {
    margin-bottom: 2em;
  }

  &__wrapper {
    @extend .summary__info;
  }

  &__buttons {
    text-align: center;
  }
}
