@use "/src/scss/index" as *;

.product-list {
  &-item {
    &__image {
      position: relative;
      width: 25%;
      margin-right: 2em;

      @include max-width($bp-tablet) {
        width: 40%;
        margin-right: 1em;
      }
    }

    &__icon {
      cursor: pointer;
      position: absolute;
      height: 40px;
      width: 40px;
      right: 10px;
      top: 10px;
      opacity: 0.6;
      transition: 0.2s;

      @include max-width($bp-tablet) {
        height: 30px;
        width: 30px;
      }

      &:hover {
        opacity: 1;
      }
    }

    &__content {
      max-width: 50%;

      a {
        width: fit-content;
      }
    }

    & + .footer,
    & > .breadcrumbs {
      background: #f0f1f2;
    }
  }

  &-skeleton {
    &__image {
      background-color: #e0e0e063;
      height: 150px;
      width: 25%;
      margin-right: 2em;

      @include max-width($bp-tablet) {
        width: 40%;
        margin-right: 1em;
      }
    }

    &__title {
      background-color: #e0e0e063;
      height: 30px;
      margin-bottom: 1em;
    }

    &__price {
      background-color: #e0e0e063;
      height: 20px;
      margin-bottom: 1em;
      width: 30%;
    }

    &__button {
      background-color: #e0e0e063;
      height: 40px;
      width: 150px;
      margin-top: 1em;
      border: none;
      user-select: none;

      &:hover {
        background-color: #e0e0e063;
      }
    }
  }
}
